<div class="commentsWrapper">

    <div class="commentCount"{{action "toggleComments"}}>
        <i class="glyphicon glyphicon-comment"></i> 
        {{comments.length}} comments 
    </div> 

    {{#if isShowingComments}}

        {{#unless isPostingComment }}
            <span {{action "toggleCommentForm" }} type="button" class="postCommentLink">
                Post comment 
            </span> <br>
        {{/unless}}

        {{#if isPostingComment }}
            <span {{action "toggleCommentForm" }} type="button" class="postCommentLink">
                Hide form 
            </span> <br>
            {{post-comment articleID=articleID postComment="reloadModel"}}
        {{/if}}
        {{#each comments as |comment| }}
            <div class="comment">
                <div class="commentHead">
                    <span class="bold"> {{comment.author}} </span><br> posted at: {{comment.time}} <br>
                </div>
                <div class="commentBody">
                    {{comment.text}} <br>
                </div>
            </div>
        {{/each}}

    {{/if}}
</div>
